<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Whooppss!!!</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
	</head>
	<style>
		body {
			font-family: "Inter", sans-serif;
		}
	</style>
	<body>
		<div class="container">
			<div class="row">
				<div class="col py-5 bg-body text-center mt-5">
					<img
						src="https://img.freepik.com/free-vector/startled-concept-illustration_114360-1443.jpg?w=740&t=st=1700072535~exp=1700073135~hmac=69a026b9d4ca4d1a780ea6d425e25ecc6c0d84f046561ad0c6007640b55c5d53"
						alt="success-image"
						width="300"
						class="mx-auto d-block"
					/>
					<h1 class="fw-bold lh-1 mt-5 mb-5"><%= errorMessage %></h1>
					<a href="/" class="mt-5 btn btn-danger">Back to main page</a>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
	</body>
</html>
