<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
		<title>Error</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
	</head>
	<style>
		body {
			font-family: "Inter";
		}
	</style>
	<body class="bg-gray-900">
		<section class="bg-gray-900">
			<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
				<div class="w-full rounded-lg md:mt-0 sm:max-w-md xl:p-0">
					<h1 class="text-7xl text-center tracking-tighter font-black text-red-400 leading-tight" style="line-height: 0.9"><%= errorMessage %>!</h1>
				</div>
				<a href="/" class="hover:text-white hover:bg-indigo-600 rounded-xl px-4 py-2 mt-12 bg-gray-50 text-indigo-600">
					<div class="flex gap-3 items-center justify-center">
						<div class="flex items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
							</svg>
						</div>
						<div>
							<span class="">Go back! </span>
						</div>
					</div>
				</a>
			</div>
		</section>
	</body>
</html>
